* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(140, 22, 22, 1) 0%,
    rgba(6, 0, 0, 1) 100%
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  width: 600px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #eb5757 0%,
    #000000 51%,
    #eb5757 100%
  );
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.app {
  font-family: "Poppins", sans-serif;
  width: min(95vw, 31rem);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 2rem;
}

.container {
  margin-top: 100px;
  padding: 20px 25px;
  background-color: rgb(131, 119, 119);
  border-radius: 10px;
}

#wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 15px;
}

#wrapper input {
  width: 100%;
  background: transparent;
  color: #111111;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid black;
}

#wrapper input:focus {
  outline: none;
  border-color: #a21212;
}

#wrapper button {
  position: relative;
  border-radius: 5px;
  font-weight: 500;
  font-size: 10px;
  background-color: bisque;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

#tasks {
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  padding: 10px 5px;
}

.task {
  background-color: #ffffff;
  padding: 8px 10px;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  cursor: pointer;
  gap: 2px;
}
.task:not(:first-child) {
  margin-top: 10px;
}

.task input[type="checkbox"] {
  position: relative;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #e1e1e1;
}

.task input[type="checkbox"]::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.task input[type="checkbox"]:checked {
  background-color: black;
  border-color: black;
}

.task input[type="checkbox"]:checked:before {
  position: absolute;
  content: "\f00c";
  color: #ffffff;
  font-size: 8px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.task span {
  font: 9px;
  font-weight: 400;
  word-break: break-all; /* Uzun taskları bir alt satıra kaydırır. */
}

.task button {
  color: #ffffff;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.edit {
  background-color: black;
}

.delete {
  background-color: #8e2626;
  margin-right: 10px;
}

#pending-tasks span {
  color: #722323;
}

.completed {
  text-decoration: line-through;
  color: #a0a0a0;
}

#error {
  text-align: center;
  background-color: #722323;
  color: black;
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 10px;
  display: none;
}
